# jupyter 사용법

## jupyter 명령어

*  code mode : 셀 창 클릭하면 파란색에 초록색으로 바꾼다. 
*  command mode : Esc Key 누르면 초록색에서 다시 파란색 바꾼다

* code mode - [Esc] - command mode  
* command mode : 셀을 생성, 삭제, 편집 가능
   - [a] : 현재 위치한 셀에 윗부분에 새로운 셀을 생성
   - [b] : 현재 위치한 셀에 아랫부분에 새로운 셀을 생성
   - ['x] : 현재 선택된 셀을 삭제
   - [m] : markdown mode (주석, 설명)
   - [y] : markdown mode - coode mode 변환
   
* [Shiht] + [Enter] : Script 실행

* 참고)
  - 수정시 더블 클릭
  - FIle 메뉴 - DownLoad as - ~.HTML 파일 열기 한 후 PDF 파일로 저장 가능

In [1]:
%%html
<style>
table {float:left}
</style>

In [1]:
print("hello")

hello

In [2]:
print("hi")

hi

# Python 데이터 구조와 타입

## 데이터 타입 

* 내장 자료형 / built-in data type
* 연속형 데이터 : 숫자로 이루어진 데이터
* 범주형 데이터 : 문자나 항목으로 이루어진 데이터

## 변수
* 데이터에 특정 이름을 붙여서 저장한다. (데이터를 담는 공간)
* 연산을 쉽게 처리하거나, 큰 데이터를 한번에 불러올수 있다.
* Python에서 변수명을 한글로 선언가능

### 숫자 자료형
* 숫자 형태로 이루어진 자료형

In [2]:
a=10                        # 정수형         
b=22.2                      # 실수형
c="Python"                  # 문자형 
d=False                     # 논리형
print(a, b, c, d)

10 22.2 Python False

### type()
* 자료형 확인 - int / float / str

In [3]:
type(a)         # print(type(a))    결과 : <class 'int'>

int

In [4]:
type(b)

float

# 연산자
## 산술 연산자
|연산자|내용|
|---|---|
|+|더하기|
|-|빼기|
|*|곱하기|
|/|나누기(소수 이하 포함)|
|//|나누기(소수 이하 버림)|
|%|나누기 후 나머지|
|**|거듭제곱|

In [8]:
a=10
b=20

In [9]:
r1=a+b
r2=a-b
r3=a*b
r4=a/b             # 나머지 포함
r5=a//b            # 나머지 버림
r6=a**b
print(r1, r2, r3, r4, r5, r6)

30 -10 200 0.5 0 100000000000000000000

## 관계 연산자 

* 결과가 항상 True, False로 나오는것 주의!


|연산자|내용|
|---|---|
|a < b |a가 b보다 작다|
|a > b |a가 b보다 크다|
|a <= b|a가 b보다 작거나 크다|
|a >= b|a가 b보다 크거나 같다|
|a == b|a와 b가 같다|
|a != b|a와 b가 같지 않다|

In [10]:
a=10
b=20

In [11]:
r1=a+b                         
r2=a-b
r3=a*b
r4=a/b
r5=a//b
r6=a**b

In [12]:
print(r1, r2, r3, r4, r5, r6)

30 -10 200 0.5 0 100000000000000000000

## 논리 연산자

* 내용 정리 추가 삽입

|연산자|내용|
|---|---|
|in|x in y : y안에 x가 포함되어 있는 경우 True|
|and|True|
|or|True|
|not|반전|

* 논리형 값에 정수 값이 입력되어 있음
* 첫 글자 대문자 주의

In [18]:
a=True       # 0
b=False      # 1
a+b

1

In [13]:
su=77
list=[10, 20, 30, 40, 50]

In [16]:
r1=su>10 and su<20
r2=su==10 or su==77
r3=not a
r4=su in list

print(r1, r2, r3, r4)

False True False False

# 문자열
* 문자, 단어 등으로 구성된 문자의 집합
* 4가지 문자열 생성 방법

In [8]:
str1="Hello World"
str2='Hello World'
str3='''Hello World'''
print(str1, str2, str3)

Hello World Hello World Hello World

* 문자열 처리
  - 문자열 합치기 : '+' 
  - 문자열 반복 : '*'  
  - 문자열 변환 : str() 변환 함수 사용

In [19]:
str4="hello"
str5="world~~"
print(str4+str5)
print(str5*4)

helloworld~~
world~~world~~world~~world~~

# Python 자료구조
* list, tuple, dictionary, set

## List
* 여개 값들을 묶어서 사용
* 전체 원소 값을 []로 묶어서 관리하고 구분자는 쉼표(,) 사용
* 인덱스는 0부터 시작
* 저장되는 자료형은 모두 같지 않아도 됨
* 자료를 핸들링하기 위한 여러 메서드 제공

In [26]:
su=[100, 200, 300, 400]
colors=['red', 'blue', 'green']
print(su, colors)

[100, 200, 300, 400] ['red', 'blue', 'green']

In [25]:
type(su)

list

In [27]:
print(su[0], colors[2])

100 green

### 리스트 요소 추가 삭제
* append(data) : 추가
* insert(index, data) : 특정위치 추가
* remove(data) : 삭제

* 혼합 자료형 가능

In [20]:
list=['apple', 10, 'banana', 20.5]
list

['apple', 10, 'banana', 20.5]

* 리스트 추가

In [21]:
list.append('melon')
list

['apple', 10, 'banana', 20.5, 'melon']

* 리스트의 원하는 위치에 추가

In [22]:
list.insert(0, 77.7)
list

[77.7, 'apple', 10, 'banana', 20.5, 'melon']

* 리스트에 새로운 리스트 추가

In [23]:
list.extend(["orange", "strawberry"])
list

[77.7, 'apple', 10, 'banana', 20.5, 'melon', 'orange', 'strawberry']

* 리스트에서 요소 제거

In [24]:
list.remove("apple")
list

[77.7, 10, 'banana', 20.5, 'melon', 'orange', 'strawberry']

* 0번째 주소 리스트 객체 삭제

In [25]:
del list[0]
list

[10, 'banana', 20.5, 'melon', 'orange', 'strawberry']

## SET
* 수학의 집합 개념
* 순서가 없이 저장
* 중복 데이터를 허용하지 않음
* { }로 묶어서 정의
* 추가, 삭제 가능

In [26]:
a={10, 20, 30}
b={30, 40, 50}
print(a, b)

{10, 20, 30} {40, 50, 30}

### 집합 연산 가능 (교집합, 합집합, 차집합)

In [27]:
c=a.union(b)            # a|b
d=a.intersection(b)     # a&b
f=a.difference(b)       # a-b
print(c, d, f)

{50, 20, 40, 10, 30} {30} {10, 20}

### 세트 요소 추가 삭제

In [28]:
a.add(1)
a

{1, 10, 20, 30}

In [29]:
a.remove(20)
a

{1, 10, 30}

# Tuple
* 원소 추가, 삭제, 변경 불가능
* ( )로 감싸 표현
* 원소의 구분은 ','로 함
* Packing / Unpacking

In [49]:
a=(10, 20, 30, 40)
a

(10, 20, 30, 40)

In [50]:
a[1]

20

In [51]:
b=(10,)

## Packing
* 하나의 변수에 여러가지의 값을 포장하는 것

In [17]:
c=66, 77, 88        # packing 되었다.
c

(66, 77, 88)

## Unpacking
* 여러가지의 값을 가진 하나의 변수를 여러변수로 나누는 것

In [18]:
r1, r2, r3=c
print(r1, r2, r3)

66 77 88

# Dictionary
* 키와 값의 쌍으로 데이터 저장
* 여러 메서드 제공 - key(), value(), item()

In [42]:
a={'apple':10, 'banana':20, 'melon':30}
a

{'apple': 10, 'banana': 20, 'melon': 30}

In [43]:
a['apple']

10

In [46]:
a.keys()

dict_keys(['banana', 'melon'])

In [47]:
a.values()

dict_values([20, 30])

In [48]:
a.items()

dict_items([('banana', 20), ('melon', 30)])

In [ ]:
a['apple']="사과"
a

{'apple': '사과', 'banana': 20, 'melon': 30}

In [45]:
del a['apple']
a

{'banana': 20, 'melon': 30}

# 실습문제

In [2]:
import random       # 임의의 랜덤 값 추출

In [3]:
number=set()

while len(number) < 6:
    number.add(random.randint(1, 45))
    # print(number)

lotto=list(number)    # set를 list 타입 변환
lotto.sort()
print(lotto)

[3, 8, 20, 27, 31, 39]

In [5]:
my_lotto=[]
number=input("내 로또번호 띄어쓰기로 6개 입력:").split(" ")
int(list(number))

내 로또번호 띄어쓰기로 6개 입력: 1 2 3 4 5 6

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'